include _bootstrap-mixins.jade

div.container-fluid.content
  .row.with-sidebar
    .col-md-3.hidden-phone
      nav#nav.hidden-sm.hidden-xs.nav
        if false
          .list-group
            a.list-group-item.heading(href="#") Home
        each resourceGroup in api.resourceGroups
          .list-group
            a.list-group-item.heading.collapsed(data-toggle="#{(collapsible ? 'collapse' : '')}", data-target="##{slug(resourceGroup.name)}-menu", href="##{slug(resourceGroup.name)}")
              if collapsible && resourceGroup.resources.length
                span.toggle.pull-right
                  span.open.fa.fa-angle-down
                  span.closed.fa.fa-angle-right
              = resourceGroup.name || 'Resource Group'
            div(class=collapsible ? 'collapse' : '', id="#{slug(resourceGroup.name)}-menu")
              each resource in resourceGroup.resources
                if !condenseNav || (resource.actions.length != 1)
                  a.list-group-item(href="##{slug(resourceGroup.name)}-#{slug(resource.name)}", style="border-top-left-radius: 0; border-top-right-radius: 0")
                    = resource.name || 'Resource'
                  each action in resource.actions
                    a.list-group-item(href="##{slug(resourceGroup.name)}-#{slug(resource.name)}-#{slug(action.method)}", style="border-top-left-radius: 0; border-top-right-radius: 0")
                      +Icon(action.method)
                      span.indent
                        = action.name || action.method + ' ' + resource.uriTemplate
                else
                  a.list-group-item(href="##{slug(resourceGroup.name)}-#{slug(resource.name)}", style="border-top-left-radius: 0; border-top-right-radius: 0")
                    - var action = resource.actions[0]
                    +Icon(action.method)
                    = resource.name || action.name || action.method + ' ' + resource.uriTemplate
        each meta in api.metadata
          if meta.name == 'HOST'
            p(style="text-align: center; word-wrap: break-word;")
              a(href=meta.value)= meta.value

    .col-md-9
      +Content('info', false)

    // block scripts
    //     script
    //         :coffee
    //             $('table').addClass 'table'

    //     if livePreview
    //         script
    //             :coffee
    //                 socket = io()
    //                 socket.on "refresh", (msg) ->
    //                     $(document.body).html(msg)
